.Footer{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 26px 160px;
	gap: 10px;
	height: 100px;
	background: #FFFFFF;
	flex: none;
	order: 6;
	flex-grow: 0;
}

.footer-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 264px;
	width: 1120px;
	height: 48px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.footer-logo {
	cursor: pointer;
	width: 187px;
	height: 37.94px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.footer-logo img {
	width: 187px;
	height: 37.94px;
	left: 0px;
	top: 0px;
	/*height: 37.94px;
	width: 187px;*/
	/*height: 32px;
	width: 187px;
	left: 0px;
	top: 5.03125px;
	border-radius: 0px;*/

}

.footer-copyright {
	/*font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 24px;
	text-align: center;
	color: #0D1259;*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 16px;
	width: 277px;
	height: 48px;
}

.copyright-tag {
	width: 29px;
	height: 48px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
	text-align: center;
	color: #0D1259;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.copywright-name {
	height: 24px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #0D1259;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.footer-social-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	padding: 0px;
	gap: 16px;
	width: 128px;
	height: 32px;
	flex: none;
	order: 2;
	flex-grow: 0;
}

.social-div {
/*	width: 32px;*/
	height: 32px;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.footer-social-icons img {
	cursor: pointer;
	width: 25px;
	height: 25px;
	margin: 5px;
}

