@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.Hero {
/*	width: 1440px;*/
	width: 100%;
	height: 700px;
	background: linear-gradient(180deg, #F0F5FF 0%, #FFFFFF 100%);
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: -1px 0px;
}

.header-logo {
	position: absolute;
	width: 187px;
	height: 37.94px;
	left: 160px;
	top: 29.03px;
}

.header-logo img {
	position: absolute;
	width: 187px;
	height: 37.94px;
	left: 0px;
	top: 0px;
}

.hero-title-description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;
	position: absolute;
	width: 515px;
	height: 320px;
	left: 160px;
	top: 258px;
}

.title-description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 8px;
	width: 515px;
	height: 248px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.title {
	width: 380px;
/*	height: 192px;*/
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	color: #0D1259;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	text-align: left;
}

.title-head {
	color: #515AE5;
}

.description {
	width: 515px;
	height: 48px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #0D1259;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	text-align: left;
}

.hero-button-section {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 296px;
	height: 48px;
	background: #515AE5;
	border-radius: 5px;
	margin-top: -30px;
	flex: none;
	order: 1;
	flex-grow: 0;
	transition: all 0.4s ease;
}

.hero-button-section:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*.hero-button-section:hover {
	animation: effect 0.8s normal;
}

@keyframes effect {
	0% {
    	transform: translateX(0px) rotate(0deg);
	}
  
	20% {
    	transform: translateX(-4px) rotate(-4deg);
	}
  
  40% {
      transform: translateX(-2px) rotate(-2deg);
  }
  
  60% {
      transform: translateX(4px) rotate(4deg);
  }
  
  80% {
      transform: translateX(2px) rotate(2deg);
  }
  
  100% {
      transform: translateX(0px) rotate(0deg);
  }
}*/

.hero-button {
	width: 248px;
	height: 24px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 24px;
	color: #FFFFFF;
	flex: none;
	order: 0;
	flex-grow: 0;
}

.hero-tag {
	position: absolute;
	width: 544px;
	height: 582px;
	left: 736px;
	top: 118px;
}

.hero-image {
	position: absolute;
	width: 420px;
/*	width: 393.33px;*/
	height: 590px;
	left: 104px;
	top: -8px;
	z-index: 1;
}

.orange-ellipse {
	position: absolute;
	width: 379px;
	height: 379px;
	left: 31px;
	top: 74px;
/*	background: #F7D74E;*/
/*	color: #eee0a5;*/
	color: #F7D74E;
	opacity: 0.5;
}

.blue-ellipse {
	position: absolute;
	width: 441px;
	height: 441px;
	left: 0px;
	top: 43px;
/*	background: #515AE5;*/
	color: #515AE5;
	opacity: 0.1;
}

