@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.subscribe-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 61px 304px 61px 304px;
	gap: 48px;
	height: 410px;
	background: #FFFFFF;
	left: 2px;
	top: 1976.046875px;
	border-radius: 0px;
}

.text-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 765px;
	height: 176px;
	left: 335.5px;
	top: 61px;
	border-radius: 0px;
}

.subscribe-title {
	width: 700px;
	height: 96px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 48px;
	text-align: center;
	color: #0D1259;
}

.subscribe-description {
	width: 650px;
	height: 72px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	color: #0D1259;
}

.subscribe-form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 2px;
	gap: 160px;
	width: 515px;
	height: 50px;
	background: #F8F8F8;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	left: 460.5px;
	top: 285px;
}

.subscribe-placeholder {
	width: 198px;
	height: 24px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #0D1259;
	flex: none;
	order: 0;
	flex-grow: 1;
	left: 8px;
	top: 20px;
	border-radius: nullpx;
}

.subscribe-button {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px 24px 12px 24px;
	gap: 8px;
	width: 141px;
	height: 40px;
	background: #515AE5;
	border: 5px solid #515AE5;
	border-radius: 5px;
	left: 366px;
	top: 8px;
	color: #FFFFFF;
	font-weight: bolder;
	transition: all 0.4s ease;
/*	transform: translate(-50%, -50%);*/
}

/*.subscribe-button:active {
	background: red;
	border: 5px solid red;
}*/

.subscribe-button:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*.subscribe-button:hover {
	animation: effect 0.8s normal;
}

@keyframes effect {
	0% {
    	transform: translateX(0px) rotate(0deg);
	}
  
	20% {
    	transform: translateX(-4px) rotate(-4deg);
	}
  
  40% {
      transform: translateX(-2px) rotate(-2deg);
  }
  
  60% {
      transform: translateX(4px) rotate(4deg);
  }
  
  80% {
      transform: translateX(2px) rotate(2deg);
  }
  
  100% {
      transform: translateX(0px) rotate(0deg);
  }
}*/

.subscribe-input {
	background: #F8F8F8;
}

input {
  flex-grow:2;
  border:none;
}

input:focus {
  outline: none;
}

::placeholder{
	width: 193px;
	height: 24px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 24px;
	color: #0D1259;
	flex: none;
	order: 0;
	flex-grow: 1;
}
