.testimonials-section {
	height: 594px;
	background: #FFFFFF;
	flex: none;
	order: 4;
	flex-grow: 0;
	margin: -1px 0px;
}

.testimonials-title-description {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	height: 80px;
	left: 478.5px;
	top: 29.09px;
}

.testimonials-title {
	height: 48px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 48px;
	text-align: center;
	color: #0D1259;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.testimonials-description {
	height: 24px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	color: #0D1259;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
}